@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "open sans", Arial, Helvetica, sans-serif;
}
body {
    color: hsl(192, 100%, 9%);
}
.hero {
    background: url(images/bg-hero-mobile.svg), hsl(193, 100%, 96%); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo-img {
    width: 130px;
 }
.nav-link a {
    background-color: white;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    width: 150px;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    color: hsl(192, 100%, 9%);
    box-shadow: 1px 4px 12px hsl(0, 0%, 89%);
}
.nav-link a button:hover {
    color: hsla(192, 100%, 9%, 0.5);
}
.hero-main {
    padding: 50px 15px;
    max-width: 500px;
    margin: auto;
}
.hero-text {
    text-align: center;
}
h1 {
    font-size: 1.7rem;
    font-weight: 700;
}
h2 {
    font-family: "poppins", sans-serif;
}
.hero-text p {
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.7;
}
.get-started-btn {
    background-color: hsl(322, 100%, 66%);
    border: none;
    width: 250px;
    padding: 15px ;
    border-radius: 40px;
    font-size: 1rem;
    color: white;
    margin-top: 30px;
    cursor: pointer;
}
.get-started-btn:hover {
    background-color: hsl(322, 100%, 66%,0.6);
}
.hero-illustration {
    margin-top: 50px;
}
.hero-illustration img {
    width: 100%;
    margin: auto;
}
.community {
    margin-top: 50px;
    padding: 0 20px;
}
.community-block {
    max-width: 400px;
    padding: 50px 20px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto 50px auto;
    box-shadow: 5px 5px 10px hsl(0, 0%, 89%, 0.5), -5px -5px 10px hsl(0, 0%, 89%, 0.5);
}
.community-block .text {
    margin-top: 40px;
    text-align: center;
}
.community-block .text h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
.community-block .text p {
    color: hsl(208, 11%, 55%);
    margin-top: 20px;
}
.community-block img {
    width: 100%;
}
.get-started {
    position: relative;
    bottom: -90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px -1px 4px hsl(0, 0%, 89%),
    1px 0px 4px hsl(0, 0%, 89%),
    0px 1px 4px hsl(0, 0%, 89%),
    0px -1px 4px hsl(0, 0%, 89%);
    max-width: 500px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
}
.get-started h2 {
    font-size: 1.5rem;
}
.get-started button {
    width: 250px;
}
.footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    padding:  150px 20px 50px;
}
.footer-logo svg g path {
    fill: white;
}
.contact {
    margin-top: 15px;
}
.contact svg {
    display: block;
    float: left;
}
.contact p {
    padding-left: 40px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 400px;
}
.footer-link {
    margin-top: 40px;
}
.footer-link ul li {
    margin-bottom: 20px;
}
.footer-link ul li a{
    color: white;
    font-size: 1rem;
}
.footer-link ul li a:hover {
    border-bottom: 1px solid white;
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}
.social-links a svg {
    fill: white;
    width: 30px;
    height: 30px;
}
.social-links a svg:hover {
    fill: hsl(322, 100%, 66%);
}
.copyright {
    text-align: center;
    margin-top: 40px;
}
@media (min-width: 700px) {
    .hero {
        padding: 0 50px;
    }
    .community {
        padding: 0 50px;
    }
    .footer {
        padding: 150px 50px 50px;
    }

}
@media (min-width: 800px) {
    .logo-img {
        width: 200px;
     }
    .nav-link a {
        padding: 15px 50px;
        border-radius: 40px;
        font-size: 0.8rem;
        font-weight: 700;
    }
    .community-block {
        display: flex;
        max-width: 100%;
        gap: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
    }
    .flowing, .users {
        flex-flow: row-reverse;
    }
    .community-block .text {
        margin: 0;
        text-align: left;
        max-width: 500px;
    }
    .community-block img {
        max-width: 30%;
    }
}
@media (min-width: 900px) {
    .hero-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        max-width: 100%;
        gap: 20px;
    }
    h1 {
        font-size: 2rem;
    }
    .hero-text {
        text-align: left;
        max-width: 450px;
    }
    .hero-illustration {
        max-width: 600px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 1.5fr 2fr 1fr;
        gap: 20px;
    }
    .footer-link {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* place-items: center; */
        text-align: center;
        margin-top: 10px;
    }
    .social-links {
        margin-top: 10px;
    }
    .copyright {
        text-align: right;
    }
}
@media (min-width: 1100px) {
    .hero {
        padding: 0 100px;
    }
    .community {
        padding: 0 100px;
    }
    .footer {
        padding: 150px 100px 50px;
    }
}
@media (min-width: 1200px) {
    .community-block {
        padding: 50px 100px;
    }
}

